@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-nunito-sans);
}
p {
    font-family: var(--font-raleway-sans);
}

.main_sans {
    font-family: var(--font-raleway-sans);
}

.secondary_sans {
    font-family: var(--font-nunito-sans);
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
    max-width: 1552px;
    margin-left: auto;
    margin-right: auto;
}
.blob-mask {
    clip-path: ellipse(60% 50% at 50% 50%);
}
